@import '../../utils/variables'
  
.input-wrapper
  margin: 6px 0px

.input
  padding: 6px
  font-size: 1.2rem
  font-weight: 400
  outline: none
  border-radius: 5px

  &--default
    border: 2px solid $colorBlack
    background: $colorWhite
    color: $colorBlack

    &--error
      border: 2px solid $colorRed
      background: $colorWhite
      color: $colorBlack
      &::placeholder
        color: $colorRed
    &--accepted
      border: 2px solid $colorGreen
      background: $colorWhite
      color: $colorGreen

  &--dark
    border: 2px solid $colorWhite
    background: $colorBlack
    color: $colorWhite

    &--error
      border: 2px solid $colorRed
      background: $colorBlack
      color: $colorWhite
      &::placeholder
        color: $colorRed

    &--accepted
      border: 2px solid $colorGreen
      background: $colorBlack
      color: $colorGreen

  &--orange
    border: 2px solid $colorWhite
    background: $colorOrange
    color: $colorWhite
    &::placeholder
        color: $colorGray

    &--error
      border: 2px solid $colorRed
      background: $colorOrange
      color: $colorWhite
      &::placeholder
        color: $colorRed

    &--accepted
      border: 2px solid $colorGreen
      background: $colorOrange
      color: $colorGreen